

/* Actions */
div.actions {
    right: 0;
    bottom: 0;
    height: 50px;
    width: 350px;
    position:absolute;
}
div.action {
    width:70px;
    float:left;
    height:50px;
    line-height:50px;
    font-size: 0.8em;
    font-weight: bold;
    text-align:center;
    position:relative;
    margin-left:10px;
    background-color: gray;
}
/**/
/*/* Play action */*/
/*div.play {*/
/*    background-color: green;*/
/*}*/
/*div.play:hover {*/
/*    background-color: lightgreen;*/
/*}*/
/*/* Switch action */*/
/*div.switch {*/
/*    background-color: brown;*/
/*}*/
/*div.switch:hover {*/
/*    background-color: rosybrown;*/
/*}*/
/*/* Stop action */*/
/*div.stop {*/
/*    background-color: red;*/
/*}*/
/*div.stop:hover {*/
/*    background-color: red;*/
/*}*/
/**/
/*/* Torch action */*/
/*div.torch {*/
/*    background-color: lightyellow;*/
/*}*/
/*div.torch:hover {*/
/*    background-color: yellow;*/
/*}*/
